<winput
	type="password"
	[type]="field.Show ? 'text' : 'password'"
	[name]="field.Label || 'name'"
	[focused]="component.focused"
	[ngClass]="component.class"
	[formControl]="control"
	[label]="field.Label"
	[form]="form"
	[value]="value"
></winput>
<div class="smart">
	<span class="red" *ngIf="ui.level(control.value)> 1"></span>
	<span class="orange" *ngIf="ui.level(control.value)> 2"></span>
	<span
		class="yellow"
		*ngIf="ui.level(control.value)> 3"
	></span>
	<span
		class="green"
		*ngIf="ui.level(control.value)> 4"
	></span>
</div>
<div>
	<span
		(click)="field.Show = !field.Show"
		id="eye"
		class="material-icons">
		visibility
	</span>
</div>
