<div class="container-fluid">
	<div class="page-wrapper">
		<div class="translate__top-inner">
			<div class="translate__inner">
				<label class="formboxs" for="">
					<div class="formboxs_title" translate>
						Common.Select language
					</div>
					<select
						[(ngModel)]="lang"
						(ngModelChange)="ts.prepare_words(lang)"
						class="translate__select"
						placeholder="Translate"
					>
						<option *ngFor="let l of ts.languages" [value]="l.code">
							{{l.name}}
						</option>
					</select>
				</label>
				<label class="formboxs" for="">
					<div class="formboxs_title" translate>
						Common.Select page
					</div>
					<select
						[(ngModel)]="page"
						class="translate__select"
						placeholder="Translate"
					>
						<option [value]="''" translate>Common.All</option>
						<option *ngFor="let p of ts.pages" [value]="p">
							{{p}}
						</option>
					</select>
				</label>
			</div>

			<div class="translate__buttons">
				<wbutton class="translate__dawn-jcon">
					<span class="material-icons ng-tns-c405976996-4">
						translate
					</span>

					<span translate>Common.Translate all</span>
				</wbutton>

				<wbutton
					class="translate__dawn-jcon"
					(click)="ts.download_json()"
				>
					<span class="material-icons ng-tns-c405976996-4">
						download
					</span>

					<span translate>Common.Download JSON</span>
				</wbutton>
			</div>
		</div>

		<wtable [columns]="columns" [config]="config" [rows]="ts.words">
			<ng-template cell="translation" let-element>
				{{element.slug|translate}}
			</ng-template>
		</wtable>
	</div>
</div>
