<div class="template">
	<img class="template-avatar" src="/template/img/avatar.png" alt="" />
	<div class="template-title">Welcome to WAW Template</div>
	<div class="template-readme">
		<div class="template-readme__title">Readme:</div>
		<div class="template-readme__item">
			To create new page you can type in terminal:
			<span class="template-readme__code">waw page NAME</span>
		</div>
		<div class="template-readme__item">
			You can change port in
			<span class="template-readme__code">config.json</span>
			of development webiste
			<a
				class="template-readme__link"
				href="http://localhost:8000"
				>localhost:8000</a
			>
		</div>
		<div class="template-readme__item">
			JSON in template.json is accesible over all pages
		</div>
		<div class="template-readme__item">
			JSON in page.json of each page is accesible only of that specific page
		</div>

		<div class="template-readme__item">
			Files can be served with template.json prefix and path to the file within the template.
		</div>
		<div class="template-readme__item">
			More details of how to use template you can find in
			<a
				class="template-readme__link"
				href="https://webartwork.github.io/wjst/docs"
				>Wjst Documentation</a
			>
		</div>
		<div class="template-readme__item">
			Styles: You should import each file to
			<span class="template-readme__code">index.scss </span> located in
			<span class="template-readme__code">css</span> folder and write SCSS files in
			<span class="template-readme__code">css/scss</span>.
		</div>
		<div class="template-readme__item">
			Have also look on a SPA client
			<a class="template-readme__link" href="/profile">Angular project</a>
		</div>
		<div class="template-readme__item">
			You can build your template pages with pre-made
			<a class="template-readme__link" href="/sections"> Sections</a>
		</div>
		<div class="template-readme__item">
			Your sections can be filled with nice
			<a class="template-readme__link" href="/components"> Components </a>
			which you can build as you grow
		</div>
	</div>
</div>
