<div class="container">
	<wcard>
		<div class="profile__header w-card__header">
			<h3 class="w-forms__title">Users</h3>
		</div>
		<div class="profile__body">
			<!--==== Table Module ====-->
			<wtable [columns]="columns" [config]="config" [rows]="us.users">
				<ng-template
					*ngFor="let role of us.roles"
					[cell]="role"
					let-element
				>
					<winput
						(wChange)="element.is[role] = $event; us.save(element)"
						[value]="element.is[role]"
						type="checkbox"
					></winput>
				</ng-template>
			</wtable>
			<!-- ==================== -->
		</div>
	</wcard>
</div>
