<div class="body">
	<div class="container">
            <h1 class="waw_components">WAW Components</h1>
        <hr />
        <div class="breadcrumb_container">
            <h2>Breadcrumb</h2>
            <!-- braidcrums -->
            <ul id="breadcrumb">
                <li>
                    <a href="#"><span class="icon icon-home"> </span></a>
                </li>
                <li>
                    <a href="#"><span class="icon icon-beaker"> </span> Projects</a>
                </li>
                <li>
                    <a href="#"
                        ><span class="icon icon-double-angle-right"></span> Breadcrumb</a
                    >
                </li>
                <li>
                    <a href="#"><span class="icon icon-rocket"> </span> Getting started</a>
                </li>
                <li>
                    <a href="#"><span class="icon icon-arrow-down"> </span> Download</a>
                </li>
            </ul>
            <!-- illustration which drops somewhere at section, on different locations -->
        </div>
        <hr />
        <section class="top_left">
			<h2>Top Left logo</h2>
            <img src="/template/img/avatar.png" width="200px" />
        </section>
        <hr />
        <section class="top_right">
			<h2>Top Right logo</h2>
            <img src="/template/img/avatar.png" width="200px" />
        </section>
		<hr />
		<section class="bottom_left">
			<h2>Bottom Left logo</h2>
            <img src="/template/img/avatar.png" width="200px" />
        </section>
		<hr />
		<section class="bottom_right">
			<h2>Bottom Right logo</h2>
            <img src="/template/img/avatar.png" width="200px" />
        </section>
    </div>
</div>
